<h1 data-bind="string: 'reset.password.title'" class="text-center"></h1>

<!-- ko ifnot: success -->
<div class="row">
    <div class="text-center col-sm-4 col-sm-offset-4 bottom-margin-sm">
        <!-- ko if: step() == 1 -->
        <form data-bind="submit: sendResetPasswordEmail">
            <label class="vertical-align-middle top-margin">
                <span data-bind="string: 'reset.password.email.prompt'" class="block top-margin bottom-margin-sm"></span>
                <input data-bind="value: email" type="email" maxlength="200" size="32" class="form-control" required>
            </label>
            <div class="text-center">
                <button data-bind="string: 'label.enter'" type="submit" class="btn btn-info block full-width top-margin"></button>
            </div>
        </form>
        <!-- /ko -->
        <!-- ko if: step() == 2 -->
        <form data-bind="submit: resetPassword">
            <label class="vertical-align-middle top-margin block">
                <span data-bind="string: 'reset.password.email', tokens: { email: email() }" class="block top-margin bottom-margin-sm"></span>
                <input data-bind="value: password" type="password" maxlength="100" size="32" class="form-control" required>
            </label>
            <label class="vertical-align-middle top-margin block">
                <span data-bind="string: 'register.reenter.password'" class="block top-margin"></span>
                <input data-bind="value: passwordConfirm" type="password" maxlength="100" size="32" class="form-control" required>
            </label>
            <button data-bind="string: 'label.enter'" type="submit" class="btn btn-info block full-width top-margin"></button>
        </form>
        <!-- /ko -->
    </div>
</div>
<!-- /ko -->

<div data-bind="template: 'app/shared/success'"></div>
<!-- ko if: success -->
<div class="text-center top-margin">
    <a data-bind="string: 'nav.sign.in', attr: { href: '/login' }" rel="nofollow"></a>
</div>
<!-- /ko -->
<div data-bind="template: 'app/shared/error'"></div>
<div data-bind="template: 'app/shared/loading'"></div>
