<% include ../shared/up.html.ejs %>
<tr>
    <td class="content-block">
        You got a message from <%= posterName %> about reservation of <strong><%= listingTitle %></strong> on RentEver:
    </td>
</tr>
<tr>
    <td class="content-block">
        "<%= message %>"
    </td>
</tr>
<tr>
    <td class="content-block">
        <a href="<%= link %>" class="btn-primary">See Reservation Thread</a>
    </td>
</tr>
<% include ../shared/down.html.ejs %>
