.listing-reserve select {
	width: 100%;
}

.listing-reserve .label {
	font-size: 14px;
}

.listing-reserve .disclaimer-popover {
	top: -125px;
	left: 30px;
}

@media (max-width: 364px) {
	.listing-reserve .date-time {
		display: block;
	}
}
