<!--[if HTML5]><![endif]-->
<!DOCTYPE html>
<!--[if lte IE 9]><html class="lte-ie9"><![endif]-->
<!--[if gt IE 9]><!--><html><!--<![endif]-->
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/favicon.ico">
    <title>RentEver</title>
</head>
<body>
<%- body %>
</body>
</html>
