<% include ../shared/up.html.ejs %>
<tr>
    <td class="content-block">
        You picked up <strong><%= listingTitle %></strong>. Please remember to return it on <strong><%= datetimeTo %></strong>.
    </td>
</tr>
<tr>
    <td class="content-block">
        <a href="<%= link %>" class="btn-primary">See Reservation Details</a>
    </td>
</tr>
<% include ../shared/down.html.ejs %>
