<footer class="footer">
    <div class="container">
        <div class="copyright inline-block">
            <span>&copy;<span data-bind="text: Date.create().format('{yyyy}')"></span></span>
            <span data-bind="string: 'brand.name'"></span>
        </div>
        <ul class="list inline-block">
            <li>
                <a href="/document/how-it-works" data-bind="string: 'nav.how-it-works'"></a>
            </li>
            <li>
                <a href="/document/faq" data-bind="string: 'nav.faq'"></a>
            </li>
            <li>
                <a href="/contact" data-bind="string: 'nav.contact'"></a>
            </li>
            <li>
                <a href="/document/terms-of-service" data-bind="string: 'nav.terms'"></a>
            </li>
            <li>
                <a href="/document/privacy-policy" data-bind="string: 'nav.privacy'"></a>
            </li>
        </ul>
    </div>
</footer>
