<% include ../shared/up.html.ejs %>
<tr>
    <td class="content-block">
        You left a message about listing <strong><%= listingTitle %></strong> on RentEver:
    </td>
</tr>
<tr>
    <td class="content-block">
        "<%= message %>"
    </td>
</tr>
<tr>
    <td class="content-block">
        <a href="<%= link %>" class="btn-primary">See Listing Thread</a>
    </td>
</tr>
<% include ../shared/down.html.ejs %>
