<div class="header">
    <table width="100%">
        <tr>
            <td class="aligncenter content-block">
                <a href="<%= siteRoot %>">RentEver.com</a>
            </td>
        </tr>
    </table>
</div>
